In [39]:
#Reverse a given list in Python
list1=[100, 200, 300, 400, 500]
list2=[]
z=len(list1)
for x in range(len(list1)):
    list2.append(list1[z-1])
    z=z-1
print(list2)

[500, 400, 300, 200, 100]

In [26]:
#Concatenate two lists index-wise
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
list3=[]
for x in range(len(list1)):
    list3.append(list1[x]+list2[x])

In [43]:
#Given a Python list of numbers. Turn every item of a list into its square Given
list=[1,2,3,4,5,6,7]
list1=[]
for x in list:
    list1.append(x*x)
print(list1)

[1, 4, 9, 16, 25, 36, 49]

In [48]:
#Concatenate two lists in the following order
list1=["Hello ","Take "]
list2=["Dear","Sir"]
list3=[]
for x in list1:
    for y in list2:
        list3.append(x+y)
print(list3)

['Hello Dear', 'Hello Sir', 'Take Dear', 'Take Sir']

In [60]:
#Remove empty strings from the list of strings
list1=["Mike", "", "Emma", "Kelly", "", "Brad"]
for x in list1:
    if x=="":
        list1.remove(x)
print(list1)

['Mike', 'Emma', 'Kelly', 'Brad']

In [66]:
#Given a Python list, find value 20 in the list, and if it is present, replace it with 200.Only update the first occurrence of 
#a value
list1 = [5,10,15,20,25,50,20]
z=list1.index(20)
list1.remove(20)
list1.insert(z,200)
print(list1)

[5, 10, 15, 200, 25, 50, 20]