# Task 1

### 1) Write a program to get the data type of a data

In [2]:
A=10
type(A)

int

### 2) Write a program to convert a integer data type to float data type

In [3]:
X=20
float(X)

20.0

### 3) Write a program to convert a integer data type to float data type and vice versa

In [4]:
y=40
z=float(y)
print(z)
int(z)

40.0

40

### 4) Write a programme to get the actual location of the data

In [6]:
x=13
id(x)

140730805201072

### 5) Give an example of implict conversion and explict conversion

In [8]:
#implict
c=34
d=30.34
print(c+d)
#explict
f=28.45
int(f)

64.34

28

### 6) Write a programme to prove that python is a case senstive language

In [9]:
x=45
X=55
print(x)
print(X)

45
55

### 7) Write a programme to get a syntax error

In [11]:
1a=10
print(1a)

SyntaxError: invalid syntax (<ipython-input-11-4731af0d5bab>, line 1)

### 8) Write a programme to get a type error

In [16]:
a="likitha"
b=45
print(a+b)

TypeError: can only concatenate str (not "int") to str

### 9) Give an example of mulitple statement in a single line

In [12]:
1+2;2+3;5+4

9

### 10) Give an example of single line statement in multiple line

In [13]:
1\
+\
4\
*\
7

29